
<input type="hidden" name="id_carrito" id="id_usuario" value="<%= ${id_carrito}%>">
<h1>Validar Compra</h1>
<form action="\completar_compra">
    <button>Validar</button>    
</form>
<form action="\cancelar_compra">
    <button>Cancelar</button>
</form>
<h1>Cancelar Compra</h1>
