<h1>Validar Compra</h1>
<h3>Precio Total Compra: $<%= total %></h3>
<form action="\completar_compra" method="post">
    <input type="hidden" name="id_carrito" id="id_carrito" value="<%= carrito  %>">
    <button>Validar</button>    
</form>
<form action="\cancelar_compra" method="post">
    <input type="hidden" name="id_carrito" id="id_carrito" value="<%= carrito  %>">
    <button>Cancelar</button>
</form>
<h1>Cancelar Compra</h1>
