<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Tienda Online</title>
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
<body>
    <header>
        <h1>Tu Tienda Online</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="\register">Registrarse</a></li>
                <li><a href="\login">Iniciar Sesion</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        </main>

    <footer>
        <p>&copy; 2024 Tu Tienda Online</p>
        <ul>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </footer>

</body>
</html>
